# Python
__pycache__/
*.py[cod]
*.py~
*.zip

# Virtual environments
.venv/
env/
venv/
Pipfile
Pipfile.lock

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs, output
*.log
*.out

#since csv is so big:
*.csv

